<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyConfiguration" type="Common.Configuration,Common"/>
    <section name="beitmemcached" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <!--Memcache缓存配置示例-->
  <beitmemcached>
    <add key="MyMemCache" value="192.168.1.73:11211" />
  </beitmemcached>
  <appSettings>
    <!--数据存储层/数据入口层缓存配置 示例; Core.Data.DotNetCache/Core.Data.MemCache-->
    <add key="CoreDataAccessCacheType" value="Core.Data.DotNetCache, Core"/>
    <add key="DataAccessCacheEnable" value="true"/>
    <add key="DataPortalCacheType" value="Core.Data.DotNetCache, Core"/>
    <add key="DataPortalCacheEnable" value="true"/>
    <add key="LogWriterType" value="Core.Logger.Log4NetLogWriter, Core"/>

    <!--数据入口层远程调度配置 示例-->
    <add key="DataPortalClient" value="Core.Client.LocalDataPortalClient, Core"/>
    <!--<add key="DataPortalClient" value="Core.Client.RemotingPortalClient, Core"/>-->
    <!--<add key="DataPortalClient" value="Core.Client.WebServicePortalClient, Core"/>-->
    <add key="RemotingPortalUrl" value="http://192.168.1.203:9999/RemotingPortal.rem"/>
    <add key="RemotingPortalEncrypt" value="false"/>
    <add key="WebServicePortalUrl" value="http://192.168.1.203:9999/WebServiceHost.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Data Source=APPSERVER\MSSQLSERVER2008;Initial Catalog=MiddleAges;Persist Security Info=True;User ID=sa;Password=sasasa"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySql Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>-->
</configuration>